@import "tailwindcss";

@theme {
  --color-dark: #1a1a1a;
  --color-dark-secondary : #242424;
  --color-dark-border: #2a2a2a;
  --color-dark-text: #e0e0e0;
}

button {
  cursor: pointer;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
}

.homepage {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

.dark-button {
  background-color: #2a2a2a;
  border-color: #3a3a3a;
  cursor: pointer;

  :disabled {
    opacity: 50;
    cursor: not-allowed;
  }
}

.dark-button:hover {
  background-color: #333333;
}

.dark-input {
  background-color: #1a1a1a;
  color: #e0e0e0;
  border-color: #2a2a2a;

  ::placeholder {
    color: #5a5a5a;
  }

  :focus {
    border-color: #4a4a4a;
    outline: none;
  }
}

.transparent-input {
  background-color: transparent;
  color: #e0e0e0;
  border-color: transparent;

  ::placeholder {
    color: #5a5a5a;
  }

  :focus {
    border-color: #4a4a4a;
    outline: none;
  }
}

table.poll {
  th {
    background-color: #1a1a1a;
  }

  td {
    cursor: pointer;
  }
}

.preferred {
  background-color: #0EAB77;
}

.open {
  background-color: #195FB4;
}

.closed {
  background-color:  #7C8491;
}