@import "tailwindcss";

@theme {
  --color-dark: #1a1a1a;
  --color-dark-secondary : #242424;
  --color-dark-border: #2a2a2a;
  --color-dark-text: #e0e0e0;
}

button {
  cursor: pointer;
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1a1a1a;
}

.homepage {
  margin: 0;
  display: grid;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  position: relative;
}

.dark-button {
  background-color: #2a2a2a;
  border-color: #3a3a3a;
  cursor: pointer;

  :disabled {
    opacity: 50;
    cursor: not-allowed;
  }
}

.dark-button:hover {
  background-color: #333333;
}

.dark-input {
  background-color: #1a1a1a;
  color: #e0e0e0;
  border-color: #2a2a2a;

  ::placeholder {
    color: #5a5a5a;
  }

  :focus {
    border-color: #4a4a4a;
    outline: none;
  }
}

.transparent-input {
  background-color: transparent;
  color: #e0e0e0;
  border-color: transparent;

  ::placeholder {
    color: #5a5a5a;
  }

  :focus {
    border-color: #4a4a4a;
    outline: none;
  }
}

table.poll {
  .date-header {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: x-large;
  }

  th {
    background-color: #1a1a1a;
  }

  th.timeslot.even {
    border-left: 1px solid #F2F3F4;
  }

  td {
    cursor: pointer;
    border-top: 1px solid #F2F3F4;
    border-bottom: 1px solid #F2F3F4;
  }

  td.odd {
    border-left: 1px dashed #F2F3F4;
  }

  td.even {
    border-left: 1px solid #F2F3F4;
  }

  /*------------- SELECTED -------------*/
  tr.selected-row {
    td {
      border-top: 3px solid #00e65c;
      border-bottom: 3px solid #00e65c;
    }

    th.name-cell {
      border-top: 3px solid #00e65c;
      border-bottom: 3px solid #00e65c;
    }
  }
}

table.poll.vertical {
  th.date-header {
    border-top: 3px solid #F2F3F4;
    border-bottom: 3px solid #F2F3F4;
  }

  th.date-header.first {
    border-top: none;
  }

  th.timeslot.horizontal.timeslotidx-47 {
    border-right: 1px solid #F2F3F4;
  }

  td.timeslotidx-47 {
    border-right: 1px solid #F2F3F4;
  }

  th.left-border {
    border-left: 1px solid #F2F3F4;
  }

  th.name-cell.bottom-border {
    border-bottom: 1px solid #F2F3F4;
  }
}

table.poll.horizontal {
  td.timeslotidx-0 {
    border-left: 5px solid #F2F3F4;
  }

  th.timeslot.horizontal.timeslotidx-0 {
    border-left: 5px solid #F2F3F4;
  }
}

.preferred {
  background-color: #0EAB77;
}

.open {
  background-color: #195FB4;
}

.closed {
  background-color:  #7C8491;
}